/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  background-color: $negro;
  font-family: $font;
  color: $gris-claro;
  font-weight: $regular;
}

/* Solucion para que header no pise secciones */
.anchor{
    display: block;
    height: 130px; /* ancho del header y un poco mas*/
    margin-top: -130px; /* igual al height */
    visibility: hidden;
}

/* Menu de Navegacion */
.navbar {
	width: $ancho-100;
	background: $gradiente;
	border-bottom: 4px $rosa solid;
    #navbarNav .nav-item .nav-link {
        color: $rosa;
        text-transform: uppercase;
        font-size: $font-nav;
        font-weight: $bold;
    }
    .nav-link:hover {
        transform: scale(1.1);
        background-color: $negro;
        border-radius: .5em;
        box-shadow: 0 0 10px 0 $acuamarina;
        text-align: center;
        transition: all 250ms ease-out;
    }
    .dropdown {
        padding-top: .15rem;
        #dropdownMenuButton {
            background-color: $transparente;
            border: 0;
            color: $rosa;
            text-transform: $mayuscula;
            font-size: $font-nav;
            font-weight: $bold;
                &:hover {
                    transform: scale(1.1);
                    background-color: $negro;
                    border-radius: .5em;
                    box-shadow: 0 0 10px 0 $acuamarina;
                    text-align: center;
                    transition: all 250ms ease-out;
                }
                &:focus{
                    border: 0 !important;
                }
        }
        .dropdown-menu {
            background-color: $negro;
            .dropdown-item {
                color: $rosa;
                text-transform: $mayuscula;
                font-size: $font-nav;
                font-weight: bold;
                    &:hover {
                        background-color: $negro;
                        color: $acuamarina;
                    }
            }
        }
    }
}

/* Banners */
#banner {
    border-bottom: 4px $rosa solid;
    .card {
        border: 0;
    }
    .card-title {
        display: inline-block;
        margin-top: 25%;
        padding: 0.3em;
        color: $rosa;
        background-color: $gris-oscuro;
        border-color: $gris-oscuro;
        box-shadow: 0 0 20px 0 $acuamarina;
        text-transform: $mayuscula;
        letter-spacing: 0.2rem;
    }
}

/* Cuerpo de los HTML */
h1, h2, h3 {
	color: $rosa;
}

h1 {
    font-size: $font-h1;
    font-weight: $bold;
}

h2 {
	font-size: $font-h2;
    font-weight: $bold;
}

h3 {
	font-size: $font-h3;
    font-weight: $bold;
}

p {
	line-height: $font-line-p;
}

.sobreMi span{
    color: $acuamarina;
    font-weight: $bold;
}

.card {
    background-color: $negro;
    .card-title {
        color: $rosa;
        font-weight: $bold;
        &:hover {
            color: $gris-oscuro
        }
    }
    .autor {
        font-size: $font-autor;
    }
    .card-body .card-text a {
        color: #02bebc;
        font-weight: 700;
        &:hover {
            color: #3f3f3f
        }
    }
}

@mixin boton {
    margin-bottom: 20px;
    background-color: $gris-oscuro;
    border-color:$gris-oscuro;
    color: $acuamarina;
    font-weight: $bold;
    transition: all 250ms ease-out;
    &:hover {
        background-color: $gris-oscuro;
        border-color: $gris-oscuro;
        color: $acuamarina;
        box-shadow: 0 0 10px 0 $acuamarina;
        transform: scale(1.1);
    }
    &:focus{
        background-color: $gris-oscuro !important;
        border-color: $gris-oscuro !important;
        color: $acuamarina !important;
        box-shadow: 0 0 10px 0 $acuamarina !important;
    }
}

.btn-info {
    @include boton;
}

#mainNoticias h1, #mainArticulos h1, #mainCalendario h1, #mainResultados h1 {
	margin: 35px;
}

#mainResultados ol, #mainResultados h3 {
	margin-left: 20px;
}

.textoDer, .textoIzq {
	width: $ancho-100;
    margin-top: 30px;
    margin-bottom: 50px;
    h3 {
        margin-left: 15px;
    }
    .texto {
        width: $ancho-97;
	    text-align: justify;
	    margin: 20px;
        .fotoFuenteDer, .fotoFuenteIzq {
            width: 50%;
            margin: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                margin: 10px 15px 0 15px;
            }
        }
        .fotoFuenteDer {
            float: right;
            justify-content:right;
        }
        .fotoFuenteIzq {
            float: left;
            justify-content:left;
        }
        .fuenteAutor{
            margin-top: 0;
            margin-bottom: 0;
            font-size: $font-autor;
            font-weight: $regular;
        }
        p {
            margin: 15px;
        }
        .fotoGdeDer, .fotoGdeIzq {
            width: $ancho-95;
	        height: auto;
        }
        a {
            text-decoration: none;
            font-weight: $bold;
            color: $acuamarina;
            &:hover {
                color: $gris-oscuro;
            }
        }
        span {
            color: $acuamarina;
            font-weight: $regular;
        }
        .lista {
            list-style:inside;
        }
    }
}

.textoDer {
    h3 {
        text-align: end;
        margin-right: 15px;
    }
}    

.textoDer .texto .fuenteAutor  {
    text-align: end;
    margin-right: 15px;
}

.pre, .campeonatos {
	color: $acuamarina;
	font-weight: $regular;
	margin-bottom: 10px;
}

.campeonatos {
    a {
	text-decoration: none;
	color: $acuamarina;
        &:hover {
            color: $gris-oscuro;
        }
    }
    li {
        list-style: none;
        margin-left: 20px;
        line-height: 1.5em;
    }
}
#mainCalendario, #mainResultados {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    h1, ol, h3 {
        align-self: flex-start;
    }
    .pilotos, .constructores {
        margin-left: 35px;
    }
}

/* Tablas */
thead {
	color: $acuamarina;
	font-weight: $bold;
}

.calendarioTabla {
	table-layout: auto;
	width: $ancho-70;
	border-collapse:collapse;
	background-color: $gris-dark;
	border: 3px solid $gris-oscuro;
	margin: 20px;
	font-size: $font-tabla;
	text-align: center;
    img {
        width: $ancho-100/2;
    }
}

.pilotosTabla, .construcTabla {
	table-layout: auto;
	border-collapse:collapse;
	background-color: $gris-dark;
	border: 3px solid $gris-oscuro;
	margin: 20px;
	font-size: $font-tabla;
	text-align: center;
    td {
        width: 45px;
        padding: 2px;
        img {
            width: $ancho-80/2;
        }
    }
    .banderas img  {
        width: $ancho-100;
    }
}

.pilotosTabla {
    width: $ancho-95;
    .equipo{
        width: 10%;
    }
}

.construcTabla {
    width: $ancho-80;
}

.pilotosTabla tfoot, .construcTabla tfoot {
	text-align: left;
}

/* Formulario */
#contacto {
	padding-top: 100px;
    .contacto {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .fotoContacto img {
            width: $ancho-100;
            margin-bottom: 100px;
            opacity: 0.5;
        }
        textarea {
            resize: none;
        }
        .btn-primary {
            @include boton;
            margin-bottom: 30px;
        }
    }
    form {
        margin-top: 20px;
    }
}

/* Footer */
#grillaFooter {
	width: $ancho-100;
	background: $negro;
	background: $gradiente;
	border-top: 4px $rosa solid;
	border-bottom: 4px $rosa solid;
    display: grid;
	grid-template-areas: 
	"redesSociales1 icono redesSociales2"
	;
	grid-template-rows: 150px;
	grid-template-columns: $ancho-100/4 auto $ancho-100/4;
	justify-items: center;
	align-items: center;
}

.redesSociales1 {
	grid-area: redesSociales1;
    grid-row: 1;
    grid-column: 1;
}

.redesSociales2 {
	grid-area: redesSociales2;
    grid-row: 1;
    grid-column: 3;
}

.redesSociales1 .redesSociales2 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.redesSociales1 a, .redesSociales2 a {
    text-decoration: none;
    svg {
        margin: 0 20px 0 20px;
        width: 45px;
    }
}

.icono {
	grid-area: icono;
    grid-row: 1;
    grid-column: 2;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    img {
        width: $ancho-13;
        margin: 5px;
    }
    p {
        font-size: $font-footer;
        font-weight: $regular;
        line-height: normal;
        text-align: center;
        margin-bottom: 8px;
    }
}

/* Media Queries */

@media (max-width: 992px) { 
    body {
        font-size: 1rem;
    }
}

@media (max-width: 768px) { 
    body {
        font-size: $font-768;
    }

    /* Menu de Navegacion */
    
    .navbar {
        flex-direction: row-reverse;
        .navbar-brand {
            width: $ancho-100/2;
            margin-left: auto;
            text-align: right;
        }
        .btn {
            padding-left: 0.5rem;
        }
    }

    /* Cuerpo de los HTML */

    .textoDer, .textoIzq {
        padding-right: 40px;
        .texto {
            width: $ancho-100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: center;
            .fotoFuenteDer, .fotoFuenteIzq {
                float:none;
                width: $ancho-100;
                margin: 0 0 20px 0;
            }
            h3 {
                text-align: center;
            }
            .fuenteAutor {
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }

    /* Tablas */

    .calendarioTabla, .pilotosTabla, .construcTabla {
        font-size: $font-tabla-peq;
    }

    /* Footer */

    .redesSociales1 a img, .redesSociales2 a img  {
        display: block;
		width: 30px;
		margin: 10px;
	}
	
	.icono img {
		width: $ancho-30;
	}

    .icono p {
        font-size: 0.6rem;
    }
}

@media (max-width: 576px) { 
    body {
        font-size: $font-576;
    }

    .anchor{
        display: block;
        height: 90px; /* ancho del header y un poco mas*/
        margin-top: -90px; /* igual al height */
        visibility: hidden;
    }

    /* Menu de Navegacion */

    .navbar {
        flex-direction: row-reverse;
        .navbar-brand {
            width: $ancho-100/2;
            margin-left: auto;
            text-align: right;
        }
        .btn {
            padding-left: 0.5rem;
        }
        a img {
            width: $ancho-70 !important;
        }
    }

    /* Cuerpo de los HTML */

    .textoDer, .textoIzq {
        padding-right: 40px;
        .texto {
            width: $ancho-100;
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-content: center;
            .fotoFuenteDer, .fotoFuenteIzq  {
                float:none;
                width: $ancho-100;
                margin: 0 0 20px 0;
            }
            h3 {
                text-align: center;
            }
            .fuenteAutor {
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }

    /* Tablas */

    .calendarioTabla, .pilotosTabla, .construcTabla {
        font-size: $font-tabla-peq;
    }

    /* Footer */

    .redesSociales1 a svg, .redesSociales2 a svg {
        display: block;
        text-align: center;
        margin: 10px 20px 10px 20px;
        width: 45px;
    }
	
	.icono img {
		width: $ancho-30;
	}

    .icono p {
        font-size: 0.5rem;
    }
}

@media (max-width: 320px) { 
    body {
        font-size: $font-576;
    }

    .anchor{
        display: block;
        height: 70px; /* ancho del header y un poco mas*/
        margin-top: -70px; /* igual al height */
        visibility: hidden;
    }
}