/* variables para Fuentes */
$font: 'Roboto', sans-serif;
$light:300;
$regular:400;
$bold:700;
$mayuscula: uppercase;
$font-nav: 0.85rem;
$font-h1: 2rem;
$font-h2: 1.5rem;
$font-h3:1.2rem;
$font-line-p: 1.5rem;
$font-autor: 0.9rem;
$font-tabla: 1rem;
$font-tabla-peq: 0.8rem;
$font-footer: 0.7rem;
$font-576: 0.85rem;
$font-768: 1rem;

/* Variables de Dimensiones*/
$ancho-100: 100%;
$ancho-97: 97%;
$ancho-95: 95%;
$ancho-80: 80%;
$ancho-70: 70%;
$ancho-30: 30%;
$ancho-13: 13%;

/* Variables de colores */
$negro: black;
$rosa: #f26cd1;
$acuamarina: #02bebc;
$gris-claro: #a3a3a3;
$gris-oscuro: #3f3f3f;
$gris-dark: #242222;
$transparente: rgba(0, 0, 0, 0);
$gradiente: linear-gradient(90deg, rgba(0,0,0,1) 15%, rgb(71, 71, 71) 51%, rgba(0,0,0,1) 85%);
